html {
    font-size: 18px;
    font-family: 'Quicksand',sans-serif;
    background-image: url(tlo.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  body{
    padding: 15px 30px;
  }